html {
    box-sizing: border-box;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
}
.header__top{
    padding: 5px 0 22px;
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 23px;
}
.menu{
    margin-right: 53px;
}
.menu__list{
    display: flex;
    gap: 53px;
    padding-top: 5px;
}
.menu__item{
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.menu__link{
    color: #000;
}
.place-ad__btn{
    padding: 7px 25px 7px 24px;
    margin-right: 53px;
}
.enter__btn{
    padding: 9px 30px;
}
.header__content{
    background-image: url(C:/Users/natak/Pictures/основнаястраничка/header_content-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 99px 0 245px;
}
.header__content-title{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-left: 176px;
    margin-bottom: 31px;
}
.filter{
    display: flex;
    margin-left: 176px;
    background-color: #FFF;
    max-width: 806px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.room{
    position: relative;
    border-right: 1px solid rgba(121, 121, 121, 0.50);
}
.dropdown-btn__container{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.room-btn{
    cursor: pointer;
    background-color: #FFF;
    width: 168px;
    border: none;
    margin: 17px 70px 7px 23px;
}
.dropdown-btn__img{
    position: absolute;
    right: 58px;
    top: 23px;
}
.room.arrow-up .dropdown-btn__img{
    transform: rotate(180deg);
}
.room__dropdown{
    position: absolute;
    background-color: #FFF;
    border-radius: 4px;
    top: 65px;
}
.room__dropdown-list{
    display: none;
    gap: 15px;
    min-width: 200px;
    padding: 16px;
}
.room__dropdown-btn{
    background-color: transparent;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    padding: 1px 6px;
    color: #121212;
    width: 40px;
    height: 40px;
}
.room__dropdown-btn:hover{
    border: 1px solid #121212;
}
.active{
    border-color: #e9f3fb;
    background-color: #e9f3fb;
    color: #2b87db;
}
.price{
    position: relative;
    border-right: 1px solid rgba(121, 121, 121, 0.50);
}
.price-btn{
    background-color: transparent;
    border: none;
    padding: 17px 94px 17px 20px;
    width: 215px;
    height: 58px;
    overflow: hidden;
    cursor: pointer;
}
.price.arrow-up .dropdown-btn__img{
    transform: rotate(180deg);
}
.price__dropdown{
    display: none;
    position: absolute;
    top: 65px;
}
.price__dropdown-wrapper{
    background-color: #FFF;
    padding: 16px;
    border-radius: 4px;
}
.price__container{
    display: flex;
    gap: 10px;
}
.price__dropdown-input{
    width: 93px;
}
.menu-open{
    display: flex;
}
.input__wrapper{
    margin-left: 20px;
    width: 100%;
}
.input{
    width: 100%;
    height: 45%;
    border: none;
    margin: 20px 0px;
}
.input::-webkit-input-placeholder{
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.find__btn{
    padding: 8px 24px 9px 23px;
    margin-left: 876px;
}
.advertisement{
    padding: 68px 0 89px;
}
.advertisement__items{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.advertisement__item{
    display: flex;
    gap: 62px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}
.advertisement__item:hover{
    background: #F5F5F5;
    transition: all .3s;
}
.advertisement__content{
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}
.advertisement__title{
    color: #0AD643;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 13px;
}
.advertisement__price-box{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 41px;
}
.advertisement__price{
    font-weight: 600;
}
.advertisement__price-per-metre{
    color: rgba(47, 47, 47, 0.85);
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}
.advertisement__adress{
    font-weight: 400;
    width: 383px;
}