<section class="header">
    <link rel="stylesheet" href="../../src/static/css/reset.css">
    <link rel="stylesheet" href="../../src/static/css/global.css">
    <link rel="stylesheet" href="../../src/static/css/style.css">
    <div class="container">
        <div class="header__top">
            <a href="#" class="logo">
                <img src="../../src/static/img/logo.png" alt="logo" class="logo__img">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Отзывы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Студии</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Частые вопросы</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="place-ad__btn btn">+ Разместить объявление</a>
            <button class="enter__btn btn">Войти</button>
        </div>
    </div>
</section>