body{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 32px;
    line-height: 38px;
}
.container{
    max-width: 1233px;
    margin: 0 auto;
    padding: 0 10px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.btn{
    background-color: #6DE68F;
    color: #FFF;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}
